{% extends 'base.html.twig' %}

{% block title %}Edit Session{% endblock %}

{% block body %}
    <h1>modifier une Session</h1>

    {{ include('session/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_session_index') }}">Retour à la liste</a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
